body, html {
	margin: 0;
	padding: 0;
}

.wrap {
	margin-left: auto;
	margin-right: auto;
	width: 860px;
}

/**
 * Element: h3
 */

.main h3 {
	text-align: center;
}

.main table {
	margin-left: auto;
	margin-right: auto;
}

.main table th {
	text-align: left;
}

.main table th, .main table td {
	width: 250px;
	margin: 10px;
}